### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml
data/
*.pt
*.pkl
*.html
*.wav
### Python ###
__pycache__/
*.py[cod]
*$py.class
*npy
# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# yoav:
otherGit/*

# trained models
models/
*_pretrained/

#VSCode
.vscode/
.history/
*.code-workspace

#environments
.env
.venv*
.venvResnet
.concept_venv
env/
venv/
ENV/

# png files
*.png

#json files
*.json

#txt files
*.txt

### Speech ###
*.npz
wespeaker-voxceleb-resnet293-LM